<div id="pageHeader" class="pageHeader">
    <div class="row">
        <% link_to '/' do %>
            <%= image_tag 'logo_dark.png', :class => 'logoDark' %>
        <% end %>

        <p id="navigation">
            <% if current_page.url != '/' %>
                <%= link_to 'home', '/', :class => nav_active('/') %>&nbsp;&nbsp;
            <% end %>

            <% if current_page.url != '/' %>
                <%= link_to 'portfolio','/portfolio', :class => nav_active('/portfolio/') %>&nbsp;&nbsp;
                <%= link_to 'about', '/about', :class => nav_active('/about/') %>&nbsp;&nbsp;
                <%= link_to 'contact', '/contact', :class => nav_active('/contact/') %>

            <% else %>
            <%= link_to 'home', '/', :class => nav_active('/') %>&nbsp;&nbsp;
            <%= link_to 'portfolio','/portfolio', :class => nav_active('/portfolio/') %>&nbsp;&nbsp;
            <%= link_to 'about', '/about', :class => nav_active('/about/') %>&nbsp;&nbsp;
            <%= link_to 'contact', '/contact', :class => nav_active('/contact/') %>
            <% end %>
        </p>
    </div>
</div>