<%= partial "pageheader" %>

<section class="portfolio-post">
    <div class="row">
        <div class="header">
            <h1 class="title">- <%= data.portfolio.items[post].title %> -</h1>
            <% if data.portfolio.items[post].summary != "" %>
                <p class="summary"><%= data.portfolio.items[post].summary %></p>
            <% end %>
        </div>

        <% 1.upto(data.portfolio.items[post].imagesCount) do |i| %>
            <%
                imagePath = data.portfolio.items[post].imagesFolderPath+data.portfolio.items[post].imagesHandle+"#{i}"+'.jpg'
            %>
            <%= image_tag imagePath, :class => 'portfolioImage' %>
        <% end %>
    </div>
</section>

<%= partial "portfoliogallery" %>
<%= partial "aboutcontact" %>

