<%= partial "pageheader" %>

<section class="portfolioPost">
    <div class="row">
        <div class="header">
            <h1 class="title">- <%= data.portfolio.items[post].title %> -</h1>
            <% if data.portfolio.items[post].summary != "" %>
                <p class="summary"><%= data.portfolio.items[post].summary %></p>
            <% end %>
        </div>

        <% 1.upto(data.portfolio.items[post].imagesCount) do |i| %>
            <% imagePath = data.portfolio.items[post].imagesFolderPath+data.portfolio.items[post].imagesHandle+"#{i}"+'.jpg' %>
            <% imagePathSmall = "//hellocandor.com/images/"+data.portfolio.items[post].imagesFolderPath+'small/'+data.portfolio.items[post].imagesHandle+"#{i}"+'.jpg' %>
            <picture class="portfolioImage">
              <source media="(max-width: 1200px)" srcset="<%= imagePathSmall %>">
              <%= image_tag imagePath, :class => 'portfolioImage' %>
            </picture>
        <% end %>
    </div>
    <div class="row">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>- the end -</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="margin-bottom: 0;">more from the portfolio:</p>
    </div>
</section>

<%= partial "portfoliogallery" %>
<%= partial "aboutcontact" %>

